<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xzy.mybatis.dao.CatroutehistoryMapper">
	<resultMap id="BaseResultMap"
		type="com.xzy.mybatis.pojo.Catroutehistory">
		<id column="idcatRouteHistory" jdbcType="INTEGER"
			property="idcatroutehistory" />
		<result column="username" jdbcType="VARCHAR"
			property="username" />
		<result column="jsonHistory" jdbcType="CHAR"
			property="jsonhistory" />
		<result column="time" jdbcType="DATE" property="time" />
		<result column="status" jdbcType="INTEGER" property="status" />
		<result column="jsonRoute" jdbcType="CHAR" property="jsonroute" />
	</resultMap>
	<sql id="Example_Where_Clause">
		<where>
			<foreach collection="oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause">
		<where>
			<foreach collection="example.oredCriteria" item="criteria"
				separator="or">
				<if test="criteria.valid">
					<trim prefix="(" prefixOverrides="and" suffix=")">
						<foreach collection="criteria.criteria" item="criterion">
							<choose>
								<when test="criterion.noValue">
									and ${criterion.condition}
								</when>
								<when test="criterion.singleValue">
									and ${criterion.condition} #{criterion.value}
								</when>
								<when test="criterion.betweenValue">
									and ${criterion.condition} #{criterion.value} and
									#{criterion.secondValue}
								</when>
								<when test="criterion.listValue">
									and ${criterion.condition}
									<foreach close=")" collection="criterion.value"
										item="listItem" open="(" separator=",">
										#{listItem}
									</foreach>
								</when>
							</choose>
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Base_Column_List">
		idcatRouteHistory, username, jsonHistory, time, status, jsonRoute
	</sql>
	<select id="selectByExample"
		parameterType="com.xzy.mybatis.pojo.CatroutehistoryExample"
		resultMap="BaseResultMap">
		select
		<if test="distinct">
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from catroutehistory
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null">
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectByPrimaryKey"
		parameterType="java.lang.Integer" resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from catroutehistory
		where idcatRouteHistory = #{idcatroutehistory,jdbcType=INTEGER}
	</select>
	<delete id="deleteByPrimaryKey"
		parameterType="java.lang.Integer">
		delete from catroutehistory
		where idcatRouteHistory = #{idcatroutehistory,jdbcType=INTEGER}
	</delete>
	<delete id="deleteByExample"
		parameterType="com.xzy.mybatis.pojo.CatroutehistoryExample">
		delete from catroutehistory
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</delete>
	<insert id="insert"
		parameterType="com.xzy.mybatis.pojo.Catroutehistory">
		insert into catroutehistory (idcatRouteHistory, username, jsonHistory,
		time, status, jsonRoute)
		values (#{idcatroutehistory,jdbcType=INTEGER}, #{username,jdbcType=VARCHAR},
		#{jsonhistory,jdbcType=CHAR},
		#{time,jdbcType=DATE}, #{status,jdbcType=INTEGER}, #{jsonroute,jdbcType=CHAR})
	</insert>
	<insert id="insertSelective"
		parameterType="com.xzy.mybatis.pojo.Catroutehistory">
		insert into catroutehistory
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="idcatroutehistory != null">
				idcatRouteHistory,
			</if>
			<if test="username != null">
				username,
			</if>
			<if test="jsonhistory != null">
				jsonHistory,
			</if>
			<if test="time != null">
				time,
			</if>
			<if test="status != null">
				status,
			</if>
			<if test="jsonroute != null">
				jsonRoute,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="idcatroutehistory != null">
				#{idcatroutehistory,jdbcType=INTEGER},
			</if>
			<if test="username != null">
				#{username,jdbcType=VARCHAR},
			</if>
			<if test="jsonhistory != null">
				#{jsonhistory,jdbcType=CHAR},
			</if>
			<if test="time != null">
				#{time,jdbcType=DATE},
			</if>
			<if test="status != null">
				#{status,jdbcType=INTEGER},
			</if>
			<if test="jsonroute != null">
				#{jsonroute,jdbcType=CHAR},
			</if>
		</trim>
	</insert>
	<select id="countByExample"
		parameterType="com.xzy.mybatis.pojo.CatroutehistoryExample"
		resultType="java.lang.Long">
		select count(*) from catroutehistory
		<if test="_parameter != null">
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExampleSelective" parameterType="map">
		update catroutehistory
		<set>
			<if test="record.idcatroutehistory != null">
				idcatRouteHistory = #{record.idcatroutehistory,jdbcType=INTEGER},
			</if>
			<if test="record.username != null">
				username = #{record.username,jdbcType=VARCHAR},
			</if>
			<if test="record.jsonhistory != null">
				jsonHistory = #{record.jsonhistory,jdbcType=CHAR},
			</if>
			<if test="record.time != null">
				time = #{record.time,jdbcType=DATE},
			</if>
			<if test="record.status != null">
				status = #{record.status,jdbcType=INTEGER},
			</if>
			<if test="record.jsonroute != null">
				jsonRoute = #{record.jsonroute,jdbcType=CHAR},
			</if>
		</set>
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExample" parameterType="map">
		update catroutehistory
		set idcatRouteHistory = #{record.idcatroutehistory,jdbcType=INTEGER},
		username = #{record.username,jdbcType=VARCHAR},
		jsonHistory = #{record.jsonhistory,jdbcType=CHAR},
		time = #{record.time,jdbcType=DATE},
		status = #{record.status,jdbcType=INTEGER},
		jsonRoute = #{record.jsonroute,jdbcType=CHAR}
		<if test="_parameter != null">
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByPrimaryKeySelective"
		parameterType="com.xzy.mybatis.pojo.Catroutehistory">
		update catroutehistory
		<set>
			<if test="username != null">
				username = #{username,jdbcType=VARCHAR},
			</if>
			<if test="jsonhistory != null">
				jsonHistory = #{jsonhistory,jdbcType=CHAR},
			</if>
			<if test="time != null">
				time = #{time,jdbcType=DATE},
			</if>
			<if test="status != null">
				status = #{status,jdbcType=INTEGER},
			</if>
			<if test="jsonroute != null">
				jsonRoute = #{jsonroute,jdbcType=CHAR},
			</if>
		</set>
		where idcatRouteHistory = #{idcatroutehistory,jdbcType=INTEGER}
	</update>
	<update id="updateByPrimaryKey"
		parameterType="com.xzy.mybatis.pojo.Catroutehistory">
		update catroutehistory
		set username = #{username,jdbcType=VARCHAR},
		jsonHistory = #{jsonhistory,jdbcType=CHAR},
		time = #{time,jdbcType=DATE},
		status = #{status,jdbcType=INTEGER},
		jsonRoute = #{jsonroute,jdbcType=CHAR}
		where idcatRouteHistory = #{idcatroutehistory,jdbcType=INTEGER}
	</update>
</mapper>